[submodule "examples/pybullet/utils"]
	path = examples/pybullet/utils
	url = https://github.com/caelan/ss-pybullet
[submodule "downward"]
	path = downward
	url = https://github.com/caelan/downward.git
