[submodule "examples/pybullet/utils"]
	path = examples/pybullet/utils
	url = https://github.com/caelan/ss-pybullet
[submodule "FastDownward"]
	path = FastDownward
	url = https://github.com/caelan/FastDownward.git
