<?xml version="1.0" ?>
<robot name="kr6_r900_workspace" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:property name="link3_mount_base_x" value="0.06762"/>
	<xacro:property name="link3_mount_base_y" value="0.0"/>
	<xacro:property name="link3_mount_base_z" value="0.0925"/>

 	<xacro:include filename="$(find kuka_kr6_support)/urdf/kr6r900sixx_macro.xacro"/>
	<xacro:include filename="$(find asw_end_effector)/urdf/asw_eef_macro.xacro"/>
	<xacro:include filename="$(find asw_material_feeder)/urdf/asw_material_feeder_macro.xacro"/>
	<xacro:include filename="$(find framefab_kr6_r900_support)/urdf/mit_3-412_workspace_micro.xacro"/>

	<!-- instantiating arm  --> 
	<xacro:kuka_kr6r900sixx prefix="robot_"/>
	<!-- instantiating end effector  -->
	<xacro:asw_eef prefix="eef_"/>
	<!-- instantiating material feeder  -->
	<xacro:asw_material_feeder_definition prefix="material_feeder_"/>
	<!-- instantiating workspace  -->
	<xacro:mit_workspace prefix="workspace_"/>

	<link name="base_link"/>

	<!-- Attach the end effector to the end of the robot arm (tool0) -->
	<joint name="ee_to_robot" type="fixed">
		<parent link="robot_tool0"/>
		<child link="eef_base_link"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

	<!-- Attach the material feeder to the link4 mount point of the robot arm -->
  <joint name="link_3_to_link_3_mount_point" type="fixed">
      <parent link="robot_link_3"/>
      <child link="material_feeder_mount_point"/>
      <origin xyz="${link3_mount_base_x} ${link3_mount_base_y} ${link3_mount_base_z}" rpy="0 0 0"/>
  </joint>

	<!-- start of arm-workcell joint definitions -->
	<joint name="world_to_base" type="fixed">
		<parent link="base_link"/>
		<child link="robot_base_link"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

	<joint name="world_to_workspace" type="fixed">
		<parent link="base_link"/>
		<child link="workspace_base_link"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>
  
</robot>
